<div class=" loadNumber d-flex align-items-center" *ngIf="!loadNumber">
    <strong>Loading...Please Wait!</strong>
    <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
</div>

<div class="container mx-3 py-3">
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Number</th>
                <th scope="col">Quantity</th>
                <th scope="col">First Position</th>
                <th scope="col">Last Position</th>
            </tr>
        </thead>
        <tbody>
            <tr [ngStyle]="{'background-color':item.quantity>=2 ?'green':'yellow'}" *ngFor="let item of quantity; let indice = index">

                <td>{{ indice + 1 }}</td>
                <td>{{ item.number }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.firstPosition }}</td>
                <td>{{ item.lastPosition }}</td>
            </tr>

        </tbody>
    </table>

    <h4>Order by minor to mayor</h4><span *ngFor="let out of quantity">{{out.number}}&nbsp; </span>
    <br>
    <br>

    <div>
        <button type="button" class="btn btn-outline-primary btn-block" routerLink="[/home]">Volver</button>
    </div>
</div>