<div class="text-center mx-3 py-3">

    <h1>Examen MiningTag - Postulación a Desarrollador Angular</h1>

</div>
<div class="container ">
    <div class="row justify-content-center">
        <div class="col-xs-1-12 mx-3 py-3 ">
            <div class="card" style="width: 18rem;">
                <img src="assets/img/aleatorios.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Random Numbers</h5>
                    <p class="card-text">Listado aleatorio de números, revisando duplicidad , posición y orden de menor a mayor </p>
                    <a [routerLink]="['/listNumber']" class="btn btn-outline-primary btn-block">Ver Más</a>
                </div>
            </div>

        </div>
        <div class="col-xs-1-12 mx-3 py-3">
            <div class="card" style="width: 18rem;">
                <img class="img-thumbnail" src="assets/img/parrafo.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Paragraphs</h5>
                    <p class="card-text">Se cuentan cuantas letras se repiten en un parrafo, recorriendo el abecedario. </p>
                    <a [routerLink]="['/paragraph']" class="btn btn-outline-primary btn-block">Ver Más</a>
                </div>
            </div>

        </div>

    </div>
</div>