<div class="loadingParagraph" *ngIf="!loadParagraph">
    <strong>Loading...Please Wait</strong>&nbsp;&nbsp;&nbsp;

    <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
</div>


<div class="container py-3 my-3">
    <table class="table table-bordered table-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">A</th>
                <th scope="col">B</th>
                <th scope="col">C</th>
                <th scope="col">D</th>
                <th scope="col">E</th>
                <th scope="col">F</th>
                <th scope="col">G</th>
                <th scope="col">H</th>
                <th scope="col">I</th>
                <th scope="col">J</th>
                <th scope="col">K</th>
                <th scope="col">L</th>
                <th scope="col">M</th>
                <th scope="col">N</th>
                <th scope="col">O</th>
                <th scope="col">P</th>
                <th scope="col">Q</th>
                <th scope="col">R</th>
                <th scope="col">S</th>
                <th scope="col">T</th>
                <th scope="col">U</th>
                <th scope="col">V</th>
                <th scope="col">W</th>
                <th scope="col">X</th>
                <th scope="col">Y</th>
                <th scope="col">Z</th>
                <th scope="col">Suma Númericos</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let arr of countedText">
                <td>{{arr.index+1}}</td>
                <td>{{arr.letterCount.numA}}</td>
                <td>{{arr.letterCount.numB}}</td>
                <td>{{arr.letterCount.numC}}</td>
                <td>{{arr.letterCount.numD}}</td>
                <td>{{arr.letterCount.numE}}</td>
                <td>{{arr.letterCount.numF}}</td>
                <td>{{arr.letterCount.numG}}</td>
                <td>{{arr.letterCount.numH}}</td>
                <td>{{arr.letterCount.numI}}</td>
                <td>{{arr.letterCount.numJ}}</td>
                <td>{{arr.letterCount.numK}}</td>
                <td>{{arr.letterCount.numL}}</td>
                <td>{{arr.letterCount.numM}}</td>
                <td>{{arr.letterCount.numN}}</td>
                <td>{{arr.letterCount.numO}}</td>
                <td>{{arr.letterCount.numP}}</td>
                <td>{{arr.letterCount.numQ}}</td>
                <td>{{arr.letterCount.numR}}</td>
                <td>{{arr.letterCount.numS}}</td>
                <td>{{arr.letterCount.numT}}</td>
                <td>{{arr.letterCount.numU}}</td>
                <td>{{arr.letterCount.numV}}</td>
                <td>{{arr.letterCount.numW}}</td>
                <td>{{arr.letterCount.numX}}</td>
                <td>{{arr.letterCount.numY}}</td>
                <td>{{arr.letterCount.numZ}}</td>
                <td>{{arr.numericalSum}}</td>
            </tr>

        </tbody>
    </table>
    <div>
        <button type="button" class="btn btn-outline-primary btn-block" routerLink="[/home]">Volver</button>
    </div>

</div>